<div>
  <h1 class="text-red-800 text-lg text-center">coucou</h1>
</div>

<ul>
  <li>Salut</li>
  <li>les</li>
  <li>dev</li>
</ul>
<br/>
<br/>
<br/>
<br/>
<button >Click me</button>
<br/>
<br/>
<br/>
<br/>
<br/>
<a href="http://google.be">Google</a>

<p>khelifi khaled </p>
<!-- <p>khelifi khaled </p> -->
<!-- <p>khelifi khaled </p> -->
<!-- <p>khelifi khaled </p> -->
<!-- <p>khelifi khaled </p> -->
<!-- <p>khelifi khaled </p> -->
<!-- <p>khelifi khaled </p> -->
<!-- <p>khelifi khaled </p> -->
<!-- <p>khelifi khaled </p> -->
<p>blablablablabla</p>
<p>blablablablabla</p>
<p>blablablablabla</p>
<p>blablablablabla</p>
<p>blablablablabla</p>
<p>blablablablabla</p>
